@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Bungee&family=Roboto&family=Teko&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.conteiner {
    max-width: 1366px;
    margin: 0 auto;
}

header {
    background-color: black;
    color: white;
}

header .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 32px;
    padding: 18px 43px;
    font-family: 'Roboto', sans-serif;
}

.conteiner nav li {
    font-size: 16px;
    margin-left: 16px;
    display: inline;
}

.conteiner nav li a {
    color: white;
    text-decoration: none;
    font-family: 'Bungee', cursive;
}

#promocao .jogos_em_promocao {
    display: flex;
}

#promocao .resumo {
    margin-left: 15px;
}

#promocao {
    font-family: 'Bungee', cursive;
    margin-top: 50px;
    margin-bottom: 100px;
}

#promocao h1, h2, h4 {
    font-weight: normal;
}

#promocao .resumo #promocao_descricao {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

#promocao .preco_promocao {
    display: flex;
    font-size: 25px;
}

#promocao .preco_promocao p {
    margin-left: 20px;
}

#promocao .botao_promocao li {
    display: inline;
}

#promocao h1 {
    margin-left: 10px;
    font-size: 30px;
}

#promocao .jogos_em_promocao img {
    height: 400px;
    width: 400px;
    border-style: solid;
    border-color: red;
    border-radius: 15px;
}

#promocao .botao_promocao button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: green;
    font-size: 13px;
    font-family: 'Black Ops One', cursive;
    cursor: pointer;
}

#promocao button:hover {
    background-color: rgb(149, 247, 3);
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    width: 30%;
}

#jogos {
    background-color: black;
    color: white;
}

#titulo2 h1 {
    background-color: rgb(53, 52, 52);
    color: rgb(253, 237, 201);
    font-family: 'Bungee', cursive;
    font-weight: normal;
    font-size: 30px;
    padding: 0px 10px;
}

#jogos article h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
}

#jogos article h2 {
    font-size: 35px;
    margin-top: 100px;
}

#jogos article h3 {
    font-size: 30px;
}

.articles article img {
    height: 400px;
    width: 400px;
    border-radius: 15px;
}

#jogos article .preco {
    display: flex;
}

#jogos article .preco li {
    display: inline;
    margin-left: 60px;
}

#jogos article .preco button {
    margin-bottom: 250px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border-color: white;
    background-color: green;
    font-size: 13px;
    font-family: 'Black Ops One', cursive;
    cursor: pointer;
}
#jogos article .preco button:hover {
    background-color: rgb(4, 153, 4);
}

#suporte header {
    background-color: rgb(53, 52, 52);
    color: rgb(253, 237, 201);
    font-family: 'Bungee', cursive;
    padding: 0;
}

#suporte {
    background-color: rgb(53, 52, 52);
}

#suporte .Nossos_contatos h2 {
    color: rgb(253, 237, 201);
    font-family: 'Bungee', cursive;
}

#suporte header h2 {
    margin-left: 10px;
    color: rgb(113, 113, 255);
    font-family: 'Bungee', cursive;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    height: 30px;
    margin-bottom: 5px;
}

form textarea {
    height: 150px;
    margin-left: 0px;
}

form, textarea {
    margin-left: 10px;
    resize: none;
}

form button{
    background-color: rgb(113, 113, 255);
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(142, 142, 248);
}

#suporte .redes_sociais img {
    height: 24px;
    margin-left:30px;
}

#suporte .redes_sociais li {
    display: inline;
}

#suporte .redes_sociais {
    display: flex;
}

#suporte .nos_acompanhe,
#suporte .endereco {
    margin-left: 100px;
}

#suporte .conteiner {
    display: flex;
    margin: auto 0;
}

#suporte .nos_acompanhe,
#suporte .endereco h2 {
    color: rgb(253, 237, 201);
    font-family: 'Bungee', cursive;
}

#suporte .endereco p {
    color: rgb(113, 113, 255);
    font-family: 'Black Ops One', cursive;
    font-size: 18px;
}

footer {
    color: rgb(253, 237, 201);
    font-family: 'Bungee', cursive;
    background-color: rgb(53, 52, 52);
    font-size: 15px;
    padding-left: 10px;
}
